<% include public/views/header.ejs %>

<container>
    <div style="small-1 columns text-center">
        <a class="button large" id="blueButton">
            CLICK ME
        </a>
        <a class="button large" id="redButton">
            CLICK ME
        </a>
    </div>
</container>

<% include public/views/footer.ejs %>