<% include public/views/header.ejs %>

<container id="container">
    <div id="img">
    </div>
    <div style="small-1 columns text-center">
        <a class="button large" id="blueButton">
            CLICK ME
        </a>
        <a class="button large" id="redButton">
            plz no
        </a>
    </div>
</container>

<% include public/views/footer.ejs %>